apiVersion: v1
kind: Service
metadata:
  name: portfolio-service
spec:
  type: LoadBalancer # Or NodePort if running locally/Minikube
  selector:
    app: portfolio
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80